TELEGRAM_TOKEN=your_bot_token_here
ADMIN_ID=your_user_id_here
MENTOR_USERNAME=@islamibr29
PUBLIC_CHANNEL_URL=https://t.me/iabdul_aal
DISCUSSION_GROUP_URL=https://t.me/+dFtrvA9rLjwxN2U0
DISCUSSION_GROUP_ID=
DATA_DIR=./data
